*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/public/system/*
/config/*.yml
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
Gemfile
Gemfile.lock
/daemon_rooster/tiny_schedulers_env.rb